<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test app</title>
</head>
<body>
<h1>Test</h1>
http-header
<select>
    <option>mail</option>
    <option>mobile</option>
    <option>bank</option>
    <option>gosuslugi</option>
</select>
<!--<ul>
    <li><a href="/providers">providers</a></li>
    <li><a href="/license">license</a></li>
    <li><a href="/jcp">jcp version</a></li>
    <li><a onclick="certificate()">certificate</a></li>
    <li><a href="/sign?content=abc">sign (get)</a></li>
    <li><a onclick="signPost()">sign (post)</a><input id="content"/></li>
</ul>
<script type="text/javascript">
    const signPost = async () => {
        const res = await fetch('sign', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({content: document.getElementById('content').value})
        }).then(res => res.json());
        const p = document.createElement("p");
        p.innerText = res.signature
        document.getElementsByTagName("ul")[0].after(p);
    }
    const certificate = async () => {
        const res = await fetch('certificate').then(res => res.json());
        const p = document.createElement("p");
        p.innerText = JSON.stringify(res);
        document.getElementsByTagName("ul")[0].after(p);
    }
</script>-->
</body>
</html>