<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test app</title>
</head>
<body>
<div>
    <h2>Создание учетной записи</h2>
    <label>x-Source</label>
    <select id="xSource">
        <option th:each="header: ${headers}" th:text="${header.name().toLowerCase()}" th:value="${header.name()}"/>
    </select>
    <form action="#" onsubmit="create(); return false">
        <input id="createBankId" placeholder="Id банка"/>
        <input id="createSecond" placeholder="Фамилия"/>
        <input id="createFirst" placeholder="Имя"/>
        <input id="createThird" placeholder="Очество"/>
        <input id="createBirthDate" placeholder="Дата рождения"/>
        <input id="createPassport" placeholder="номер паспорта" maxlength="11"/>
        <input id="createBirthPlace" placeholder="Место рождения"/>
        <input id="createPhone" placeholder="телефон" maxlength="11"/>
        <input id="createEmail" placeholder="email"/>
        <input id="createRegAddress" placeholder="адрес регистрации"/>
        <input id="createLiveAddress" placeholder="адрес проживания"/>
        <button type="submit">Создать</button>
    </form>
    <p id="createResult"></p>
    <hr/>
</div>
<script type="text/javascript">
    const create = async () => {
        // skip form validation, make it on server side
        const data = {
            'bankId': document.getElementById('createBankId')?.value,
            'lastName': document.getElementById('createSecond')?.value,
            'firstName': document.getElementById('createFirst')?.value,
            'thirdName': document.getElementById('createThird')?.value,
            'birthDate': document.getElementById('createBirthDate')?.value,
            'passport': document.getElementById('createPassport')?.value,
            'birthPlace': document.getElementById('createBirthPlace')?.value,
            'phone': document.getElementById('createPhone')?.value,
            'email': document.getElementById('createEmail')?.value,
            'regAddress': document.getElementById('createRegAddress')?.value,
            'liveAddress': document.getElementById('createLiveAddress')?.value,
        }
        const res = await fetch('/api/client', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'x-Source': document.getElementById('xSource').selectedOptions[0].value
            },
            body: JSON.stringify(data)
        })
        const result = await res.json();
        document.getElementById('createResult').innerText = res.ok ? JSON.stringify(result) : result.message;
    }
</script>
<div>
    <h2>Поиск учетной записи по id</h2>
    <input id="getId" type="number" placeholder="id"/>
    <button onclick="get()">Найти</button>
    <p id="getResult"></p>
    <hr/>
</div>
<script type="text/javascript">
    const get = async () => {
        const id = document.getElementById('getId')
        if (!id.value) return
        const res = await fetch(`/api/client/${id.value}`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        });
        if (res.ok) {
            const result = await res.json();
            document.getElementById('getResult').innerText = JSON.stringify(result);
        } else {
            document.getElementById('getResult').innerText = `Пользователь с id = ${id.value} не найден`;
        }
    }
</script>
<div>
    <h2>Поиск учетной записи по полям</h2>
    <input id="findSecond" placeholder="Фамилия"/>
    <input id="findFirst" placeholder="Имя"/>
    <input id="findThird" placeholder="Очество"/>
    <input id="findPhone" placeholder="Телефон" maxlength="11"/>
    <input id="findEmail" placeholder="email"/>
    <button onclick="find()">Найти</button>
    <p id="findResult"></p>
    <hr/>
</div>
<script type="text/javascript">
    const find = async () => {
        // skip form validation, make it on server side
        let data = {}
        ['findSecond', 'findFirst', 'findThird', 'findPhone', 'findEmail'].map(f => {
            // Object.assign(data, document.getElementById(f)?.value ? {f : encodeURIComponent(document.getElementById(f).value)} : {})
            console.log(f)
        })
        /*const data = {
            ...document.getElementById('findSecond')?.value ? {'findSecond' : document.getElementById('findSecond').value} : {},
            'lastName': document.getElementById('findSecond')?.value,
            'firstName': document.getElementById('findFirst')?.value,
            'thirdName': document.getElementById('findThird')?.value,
            'phone': document.getElementById('findPhone')?.value,
            'email': document.getElementById('findEmail')?.value
        }*/
        // const params = Object.keys(data).map(k => `${k}=${encodeURIComponent(data[k])}`).join('&');
        const res = await fetch(`/api/client?${params}`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        })
        if (res.ok) {
            const data = await res.json();
            if (data.status == 'ok') {
                document.getElementById('findResult').innerText = data.message ? data.message : JSON.stringify(data.clients)
            } else {
                document.getElementById('findResult').innerHTML = data.message
            }
        } else {
            alert("")
        }
    }
</script>
</body>
</html>